:host{
  .status_list{
    ul{
      li{
        position: relative;
        float: left;
        width: 30px;
        height: 30px;
        background-color: #08c4f9;
        overflow: hidden;
        box-sizing: border-box;
        box-shadow: 2px 2px 5px #000;

      }
      li:hover{
        opacity: 0.8;
        box-shadow: 0 0 0 #000;
      }
      button{
        width: 100%;
        height: 100%;
      }
    }
    .error {
      background-color: red;
    }
    .warn {
      background-color: #ffae00;
    }
  }
}
