<ng-container *ngIf="station && station.length > 0 ">
  <nz-table #nzTable [nzDataSource]="station" [nzPageSize]="10" [nzBordered]="true" (nzDataChange)="_displayDataChange($event)" (nzPageIndexChange)="_refreshStatus()" (nzPageSizeChange)="_refreshStatus()">
    <thead nz-thead >
      <tr class="text-center">
        <th nz-th [nzCheckbox]="true">
          <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
          </label>
        </th>
        <th nz-th><span>ID</span></th>
        <th nz-th><span>基站状态</span></th>
        <th nz-th><span>操作</span></th>
        <th nz-th class="text-center"><span>定位</span></th>
      </tr>
    </thead >
    <tbody nz-tbody class="text-center">
      <tr nz-tbody-tr *ngFor="let data of nzTable.data">
        <td nz-td [nzCheckbox]="true">
          <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)">
          </label>
        </td>
        <td nz-td>
          <span>{{data.id}}</span>
        </td>
        <td nz-td>{{data.status}}</td>
        <td nz-td>
          <button nz-button [nzType]="'default'">启动</button>
          <button nz-button [nzType]="'default'">重连</button>
          <button nz-button [nzType]="'danger'">关闭</button>
          <button nz-button [nzType]="'primary'" (click)="_toDetail(data)">配置</button>
        </td>
        <td nz-td class="text-center">
            <i class="anticon anticon-environment"></i>
        </td>
      </tr>
    </tbody>
  </nz-table>
</ng-container>

