:host{
  .window{
    position: fixed;
    top: 64px;
    right: 0;
    width: 100vw;
    height: calc(100vh - 64px);
  }

  .side-setting{
    position: fixed;
    right: 0;
    top: 64px;
    height: calc(100vh - 64px);
    width: 40vw;
    background: #fbfbfb;
    overflow-y: auto;
    z-index: 1000;
  }
  .mask{
    position: fixed;
    opacity: 0.4;
    background-color: #000000;
    top:64px;
    right: 0;
    width: 100vw;
    height: calc(100vh - 64px);
    z-index: 500;
  }
}
