:host{
  h3{
    margin: 20px 0;
  }
  .map{
    margin: auto;
    width: 1280px;
    overflow: auto;
    height: 800px;
  }

  .side-broad{
    position: fixed;
    top: 75px;
    right: 0;
    width: 400px;
    height: 500px;
    background: skyblue;
  }
}
