:host {
  .ant-layout-header {
    background: #000000;
    padding: 0 20px;
    height: 64px;
    line-height: 64px;

    .logo{
      width: 170px;
      height: 43px;
      border-radius: 6px;
      margin: 10px 28px 16px 0;
      float: left;
      background-size: 100% 100%;
      box-sizing: border-box;
      background-image: url("./../../assets/images/logo.png");
    }
  }

  .ant-menu-dark, .ant-menu-dark .ant-menu-sub {
    background: #000;
  }

  .ant-layout-sider{
    border-top: 5px solid #d7212a;
    background: #000;
  }

  .ant-layout-content{
    height: calc(100vh - 64px);
    padding: 10px;
  }

  .content {
    padding: 24px;
    background: #ffffff;
  }
}
