<nz-layout>
  <nz-header>
    <div class="logo"></div>
  </nz-header>
  <nz-layout>
    <nz-sider [nzWidth]="200">
      <ul nz-menu [nzMode]="'inline'" [nzTheme]="'dark'">
        <li nz-menu-item  routerLink="/main/monitor" (click)="toRouter('./main/monitor')">
          <span title><i class="anticon anticon-eye-o"></i>状态监控</span>
        </li>
        <li nz-submenu>
          <span title><i class="anticon anticon-setting"></i>基站设置</span>
          <ul>
            <li nz-menu-group (click)="toRouter('./main/setting')">
              <span title >配置设置</span>
            </li>
          </ul>
        </li>
        <li nz-menu-item  routerLink="/main/monitor" (click)="toRouter('./main/position')">
          <span title><i class="anticon anticon-environment-o"></i>基站定位</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-content>
        <div class="content clearfix">
          <ng-content></ng-content>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
